@charset "UTF-8";
/* CSS Document */

html, body{
    margin: 0;
    padding: 0;
}

#mainHeader
{
    margin:0;
    padding:20px;
    text-align: center;
    background-color:#faead4;
}

nav
{
    margin:0;
    padding:20px;
    text-align: center;
    background-color:#e4e4fa;
}

#wrapper
{
    /*   width: 700px; */
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding: 10px;
    float:left;


}

img
{
    float: left;
    margin: 0 0 10px 10px;
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}

section
{
    margin: 0px;
    padding: 0px;
    backround-color: black;
    display: block;
}

article
{
    margin: 0px;
    padding: 0px;
    float:left;
}

h1
{
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    line-height: 11px 0;

}

h2
{
    color:black;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;

}

aside
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    height: 150px;
    color:black;
    float:right;
}


footer
{
    margin:0;
    padding:20px;
    text-align: center;
    background-color:#febac5;
    position: relative;
    clear:both !important;

}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width:100%;
    }
}